<h1>No se pudo agregar el superhéroe</h1>

<h2>¿Que pasó?</h2>

<h3>Chequea que hayas seguido los pasos del formulario correctamente</h3>

<ul class="ERROR400Causas">
    <li>Asegurate de haber completado todos los campos, <span style="color: red">Son obligatrios.</span></li>
    <li>El nombre del superheroe (y su nombre real) debe tener un <span style="color: red">minimo de 3 caracteres y un maximo de 60</span></li>
    <li>La edad solo puede ser un número positivo de <span style="color: red">entre 0 y el infinito</span></li>
    <li>El superheroe debe tener al menos un superpoder</li>
</ul>