<h2>Sobre mí</h2>

<p class="infoText">
    Hola, soy Jorge (o "Ale" según quien pregunte), del grupo 29, sospecho que el unico sobreviviente 😭
</p>

<p class="infoText">
    Estudiante de desarrollo web fullstack del Nodo Tecnológico, no soy el mejor de la cursada y se nota en el codigo, que en una gran medida está hecho a prueba y error, rompí mi propio codigo mas veces de las que me gustaria jaja, las soluciones que logré dejaron algo mas desorganizado el codigo, pero es lo que funcionó y dije "si algo funciona, no lo toques" y acá seguimos, vivos todavia... <br>
    Nunca me quedo con las explicaciónes simples, por mas que entienda algo a la primera, al cabo de un rato me empiezan a surgir mil dudas sobre ello, e inevitablemente me encuentro buscando mas info en internet, no me gusta insistir con mil preguntas tontas a los profesores, por lo que en lugar de hacercelas a ellos, opto por acudir a la IA, donde descargo mi catalogo mas extenso de preguntas boludas jaja, y asi es como llegué a aprender conceptos, o formas de proceder
</p>

<h2>Sobre el proyecto</h2>

<p class="infoText">
    El objetiv de SuperheroDB es que el usuario pueda crear su propia lista de superheroes, con funcionalidades como, agregar, editar, eliminar, por el momento, en un futuro puede que hayan mas!
</p>


<div class="infoImgCont">
    <img src="/image/CapThumbsUp.png" alt="Ta bien" width="500px">
</div>