<header>

    <h1 style="font-family: 'Quicksand', sans-serif; background-color: chartreuse; color: white; margin-bottom: 0; padding: 30px; text-align: center; border-top-right-radius: 10px; border-top-left-radius: 10px; text-shadow: 10px 7px 10px black;">Superhero DB <br></h1>

</header>


<!-- <a href="/api/heroes"><img src="/image/inicio.png" style="margin-top: 40px;" width="30px"></a> -->